#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .header{
    background-color: #1b82d2;
    height: 50px;
  }
  .head{
    color: white;
    line-height: 50px;
    font-size: 18px;
  }
  